a {
  text-decoration: none;
  color: var(--mainTitleColor);
}

body {
  font-family: var(--mainFont);
}

:root {
  --mainFont : 'Roboto', sans-serif;
  --mainWrapper: 1200px;
  --mainColor: #58067e;
  --mainTitleColor: #3a0253;
}